[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
sentence-transformers = "==3.4.1"
scikit-learn = "==1.6.1"
torch = "==2.8.0"
transformers = "==4.57.1"
nltk = "==3.9.1"
rank-bm25 = "==0.2.2"
openai = "==2.6.1"
litellm = "==1.59.1"
ollama = "==0.3.3"
rouge-score = "==0.1.2"
bert-score = "==0.3.13"
tqdm = "==4.66.1"
pandas = "==2.2.3"
pathlib = "==1.0.1"
python-dotenv = "==1.0.1"
sglang = {extras = ["all"], version = "==0.5.4.post3"}

[dev-packages]

[requires]
python_version = "3.10"
